<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="cart">
      <h2 data-cy="cartDetailsHeading"><span jhiTranslate="coopcycleApp.cart.detail.title">Cart</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ cart.id }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.cart.numberOfProducts">Number Of Products</span></dt>
        <dd>
          <span>{{ cart.numberOfProducts }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.cart.userAccount">User Account</span></dt>
        <dd>
          <div *ngIf="cart.userAccount">
            <a [routerLink]="['/user-account', cart.userAccount?.id, 'view']">{{ cart.userAccount?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/cart', cart.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
