<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="userAccount">
      <h2 data-cy="userAccountDetailsHeading"><span jhiTranslate="coopcycleApp.userAccount.detail.title">User Account</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ userAccount.id }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.userAccount.name">Name</span></dt>
        <dd>
          <span>{{ userAccount.name }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.userAccount.age">Age</span></dt>
        <dd>
          <span>{{ userAccount.age }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.userAccount.type">Type</span></dt>
        <dd>
          <span>{{ userAccount.type }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/user-account', userAccount.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
